<content-page
[colorscheme]="ColorScheme.blue"
title="Lidt om mig"
image="./assets/images/saxjax_coffee.jpeg"
>
  <p>
    Jeg er Jakob Skov Søndergård
  </p>
  <p>
    Jeg er uddannet software ingeniør og saxofonist.
  </p>
  <p>
    Jeg er vild med at opfinde programmer som har med læring, tools og lyd at gøre.
  </p>
  <p>
    <span>
      Jeg er en af hoved udviklerne på skalaundervisnings programmet
      <a href="https://notio-novia-fi.netlify.app/">NOTIO</a>
      udviklet for
      <a href="">Yrkes högskolan Novia.</a>
      For tiden arbejder jeg hos Bankdata, hvor jeg er med
      til at bygge og vedligeholde mobilbanken til flere store
      og små danske banker.
    </span>
  </p>
  <p>
  jeg har en kariere som professionel musiker bag mig og spiller
  saxofoner og middelalderblæseinstrumenter, jeg komponerer musik
  og optræder men prøver at trappe ned.
  </p>
</content-page>

