:host{
  width: 100%;
  resize: both;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scaling-svg-container {
  position: relative;
  height: 0;
  width: 100%;
  padding: 0;
  padding-bottom: 100%;
  display: contents;
  /* override this inline for aspect ratio other than square */
 }
 .scaling-svg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
 }

 .buttons{
  display:flex;
  flex-direction: row;
 }

#graphCanvas{
background-color: green;
width: 100%;
height: 250px;

  // max-width: 100%; /* Ensure the graph doesn't exceed its container width */
  // height: auto;    /* Allow the graph to adjust its height proportionally */

  /* Optional: Add additional styling for borders or margins */
  border: 3px solid #ccc;
  margin: 10px;

}
