<content-page
title="SAXJAX general Privacy policy"
[colorscheme]="ColorScheme.cyan">
<p>(Dansk version)</p>

  <ul>
<li> Saxjax Tuner samler ingen personlig information.</li>
<li> Saxjax Den Lille Tabel app samler ingen personlig information.</li>
<li> Washee samler ingen personlige informationer. Det eneste som bliver registreret er dine bookinger, men de videregives ikke til tredjepart.</li>
</ul>
<p>
Alle reklamer styres af google adds

Googles adds system indsamler bruger data.
</p>
<ul>
<li>Ved at anvende enten Saxjax Tuner, Washee eller  Saxjax Den Lille Tabel app samtykker du til denne privacy policy.</li>
<li>Du kan stoppe al data indsamling fra denne applikation ved at afinstallere den.</li>
<li>Denne privacy policy kan ændre sig i fremtiden, og alle ændringer vil blive skrevet her: <a href="https://saxjax.dk/privacy-policy.html">https://saxjax.dk/privacy-policy.html</a></li>
</ul>

<p>
(English version)</p>


  <ul>
<li> Saxjax Tuner does not collect any personal information.</li>
<li> Saxjax Den Lille Tabel app does not collect any personal information.</li>
<li> Washee, only collects your bokings.</li>
</ul>

<p>
All Adds are controlled by google [addmob](https://admob.google.com/home/).
addmob collects user data.
</p>
<ul>
<li> By using Saxjax Tuner and Saxjax Den Lille Tabel app you consent to this privacy policy.</li>
<li> You can stop all collection of information by the Application easily by uninstalling the Application.</li>
<li> This privacy policy may change in the future, all changes will be posted here : <a href="https://saxjax.dk/privacy-policy.html">https://saxjax.dk/privacy-policy.html</a></li>
</ul>

</content-page>
