<div @routeTransition>
<content-title class="content-title"[colorscheme]="colorscheme" title="{{title}}"/>
<!-- <h3 class="title title__{{colorscheme}}4">{{title}}</h3> -->
<div class="text-and-image">
  <div class="content" [ngClass]="{'full-width': images.length === 0}">
    <ng-content></ng-content>
  </div>
  @if(images.length > 0){
    <div class="images">
      @for(image of images; track image){
        <img class="image" src="{{image}}" alt="{{altImgText}}" width="{{imageWidth}}">
      }
    </div>

  }
</div>
</div>
