<div class="main-menu">
<div class="main-menu__image-header"></div>
<div class="main-menu__content">
<a class="page-title" routerLink="/" routerLinkActive="active">About Jakob</a>
  <nav class="main-menu-nav">
<ul class="main-menu-nav__items">
  <li class="main-menu-nav__item"><a routerLink="/products" routerLinkActive="active">products</a></li>
  <li class="main-menu-nav__item"><a routerLink="/music" routerLinkActive="active">music</a></li>
  <li class="main-menu-nav__item"><a routerLink="/programming" routerLinkActive="active">programming</a></li>
  <li class="main-menu-nav__item"><a routerLink="/privacy-policy" routerLinkActive="active">privacy-policy</a></li>
  <li class="main-menu-nav__item"><a routerLink="/math" routerLinkActive="active">math</a></li>
  <li class="main-menu-nav__item"><a routerLink="/jobs" routerLinkActive="active">jobs</a></li>
</ul>
  </nav>
</div>
</div>
