<div class="main-menu" (mouseover)="menuState = 'open'">
  <div class="main-menu__image-header" (mouseover)="menuState = 'open'"></div>
  <div
    class="main-menu__content"
    [@showMenu]="menuState"
    (mouseover)="menuState = 'open'"
    (mouseout)="menuState = 'closed'"
    (click)="menuState = 'closed'"
  >
    <a class="page-title" routerLink="/" routerLinkActive="active">saxjax tuner</a>
    <nav class="main-menu-nav">
      <ul class="main-menu-nav__items">
        <li class="main-menu-nav__item"><a routerLink="/tuner" routerLinkActive="active">tuner</a></li>
        <li class="main-menu-nav__item"><a routerLink="/about" routerLinkActive="active">about</a></li>
        <li class="main-menu-nav__item"><a routerLink="/products" routerLinkActive="active">products</a></li>
        <li class="main-menu-nav__item"><a routerLink="/music" routerLinkActive="active">music</a></li>
        <li class="main-menu-nav__item">
          <a routerLink="/privacy-policy" routerLinkActive="active">privacy</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
