<div class="menu">
<div class="menu-image-header"></div>
<div class="menu-content">
<a class="page-title" routerLink="/" routerLinkActive="active">About Jakob</a>
  <nav class="page-links">
  <a class="page-links__item" routerLink="/products" routerLinkActive="active">products</a>
  <a class="page-links__item" routerLink="/music" routerLinkActive="active">music</a>
  <a class="page-links__item" routerLink="/programming" routerLinkActive="active">programming</a>
  <a class="page-links__item" routerLink="/privacy-policy" routerLinkActive="active">privacy-policy</a>

  </nav>
</div>
</div>
