<div>
  <h1>Work in progress</h1>
  <p>Jeg er Jakob Skov Søndergård</p>
  <p>Jeg er uddannet softwareingeniør og saxofonist.</p>
<p>Jeg er vild med Apple produkter og swift, og jeg er vild med at opfinde programmer som har med læring, tools og lyd at gøre.</p>
<p>PT arbejder jeg hos Bankdata, hvor jeg er med til at bygge og vedligeholde mobilbanken til flere store og små danske banker. </p>
Tidligere har jeg været en af hoved udviklerne på et skalaundervisnings program ([NOTIO](https://notio-novia-fi.netlify.app/)) for en musikundervisnings uddannelse i Finland.
<p>jeg har en kariere som professionel musiker bag mig og spiller saxofoner og middelalderblæseinstrumenter, jeg komponerer musik og optræder men prøver at trappe ned.</p>

<p>Mine orkestre:</p>
<ng-container *ngFor="let link of links ">
<p>
  <a href="'link' | linkFromParenthesis">{{link | titleFromSquareBrackets}}</a>:{{link | descriptionAfterColon}}
</p>
</ng-container>

</div>
