@use '../../../styles';
@use '../../../../src/assets/colorpallettes/color-pallette.scss' as color-pallette;

.title {
  margin-top: 0;
  padding: 1rem;

  &__blue4 {
    background-color: color-pallette.$blue-bg-4;
    color: color-pallette.$blue-text-4;
  }

  &__purple4 {
    background-color: color-pallette.$purple-bg-4;
    color: color-pallette.$purple-text-4;
  }

  &__green4 {
    background-color: color-pallette.$green-bg-4;
    color: color-pallette.$green-text-4;
  }

  &__yellow4 {
    background-color: color-pallette.$yellow-bg-4;
    color: color-pallette.$yellow-text-4;
  }

  &__cyan4 {
    background-color: color-pallette.$cyan-bg-4;
    color: color-pallette.$cyan-text-4;
  }
}
