<content-page
title="{{title}}"
[colorscheme]="ColorScheme.green"
[images]="['./assets/images/saxjax_soulfunction.jpeg','./assets/images/bowie_project.jpeg','./assets/images/ramashang.jpeg','./assets/images/saxjax_ontour_hi.jpeg']"
altImageText="saxjax playing saxophone"
>
<div class="text-and-image">
  <div class="content">
<ng-container *ngFor="let link of links ">
<p>
  <a href="{{link | linkFromParenthesis}}">{{link | titleFromSquareBrackets}}</a>:{{link | descriptionAfterColon}}
</p>
</ng-container>
</div>
</div>
</content-page>
