@import "assets/colorpallettes/color-pallette.scss";

$primary: #3498db;       // Blue
$secondary: #2ecc71;     // Emerald
$accent: #e74c3c;        // Alizarin
$background: #ecf0f1;    // Clouds
$text: #2c3e50;          // Midnight Blue
$link: #9b59b6;          // Amethyst
$success: #27ae60;       // Nephritis
$error: #c0392b;         // Pomegranate
$warning: #f39c12;       // Orange
$info: #3498db;          // Blue (same as primary, can be changed)

// :host{
//   width: 80%;
//   height: 100%;
//   background: black;
//   align-self:center ;
// }
